node_modules
.vscode
*.md
dist
Dockerfile
.dockerignore
.git
.gitignore
.env
eslint.config.js
.prettierrc.json
.prettierignore
.gitlab-ci.yml
docker-compose.dev.yml
docker-compose.yml
renovate.json
vitest.config.ts
example.env
bot-storage.json