.vscode
node_modules
dist

package-lock.json
.env

.gitignore
eslint.config.js
.prettierrc.json
package-lock.json
package.json
tsconfig.json
docker-compose.dev.yml
docker-compose.yml
Dockerfile
.gitlab-ci.yml
readme.md