HOMESERVER_URL=<<Your matrix url>>
HOMESERVER_NAME=<<Your matrix home server name>>
AS_TOKEN=<<Your as token>>
HS_TOKEN=<<Your hs token>>
WEBHOOK_URL=<<url where the webhook has to be sent>>
WEBHOOK_API_KEY=<<api key of the webhook>>
AUTH_API_KEY=<<api key for own endpoints>>